div {
    height: 95vh;
}

.theme-button{
    border-width:3px;
    background-color:#cae8ca;
    border-style:solid;
    position:fixed;
    padding:7px;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.back-to-top:not(:first-child){
    position:fixed;
    padding:7px;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}
